{src_dirs, ["src"]}.
{deps, 
  [
  ]
}.
{erl_opts, [no_debug_info]}.
{eunit_compile_opts, [{src_dirs, []}]}.
{cover_enabled, false}.
{clean_files, ["doc/*"]}.
{pre_hooks, [
  {clean, "echo BEFORE CLEAN"},
  {doc, "echo BEFORE DOC"}
]}.
{post_hooks, [
  {clean, "echo AFTER CLEAN"},
  {doc, "echo AFTER DOC"},
  {doc, "$ANT_HOME/bin/ant -f after-docgen.xml"}
]}.
