{src_dirs, ["src"]}.
{deps, [
    {lager, {git, "git://github.com/basho/lager.git", {branch, "master"}}}
  ]
}.

{erl_opts, [
  no_debug_info, 
  {parse_transform, lager_transform}
]}.

{eunit_compile_opts, [{src_dirs, []}]}.
{eunit_opts, [verbose]}.

{cover_enabled, false}.

{clean_files, ["doc/*"]}.

{edoc_opts, [
  {def, [{version, "1.0.0"}]},
  {private, false},
  {source_path, ["examples"]},
  {title, "MQTT client for Erlang"}, 
  {overview, "src/overview.edoc"},
  {sort_functions, false}, 
  {stylesheet_file, "priv/my.css"}, 
  {includes, ["include/"]}
]}.
