{src_dirs, ["src"]}.
{deps, [
    {mqtt_common, {git, "https://github.com/alekras/erl.mqtt.common", {branch, "master"}}},
    {mysql_client, "1.2.8"},
%%    {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
    {lager, "3.8.0"},
    {websocket_client, {git, "git://github.com/jeremyong/websocket_client.git", {branch, "master"}}}
  ]
}.

{erl_opts, [
  no_debug_info, 
  {parse_transform, lager_transform}
%%	,{d, 'TEST'}
]}.

{overrides, [{override, mqtt_common, [{erl_opts, [no_debug_info,{parse_transform, lager_transform},{d, 'TEST'}]}]}]}.

{eunit_compile_opts, [{src_dirs, []}]}.
{eunit_opts, [verbose]}.

{cover_enabled, false}.

{clean_files, ["doc/*"]}.

{edoc_opts, [
  {def, [{version, "1.0.5"}]},
  {private, false},
  {source_path, ["src"]},
  {title, "MQTT client for Erlang"}, 
  {overview, "src/overview.edoc"},
  {sort_functions, false}, 
  {stylesheet_file, "priv/my.css"},
  {preprocess, true},
  {includes, ["include"]}
]}.
{plugins, [rebar3_hex]}.
